* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: none;
}

.main-container {
    width: 100%;
    justify-content: space-evenly;
    padding: 3vh 1vw 0;
}

.left-section {
    width: 45%;
    justify-content: space-around;
}

.title-and-filters {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1vw 0.5vh;
}

.filters {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    margin: 1vh 0;
}

.filters > .row {
    width: 40%;
    justify-content: space-evenly;
}

.toll-type-dropdown > div {
    width: 10vw;
}

#country-selected > div {
    width: 10vw;
}

.right-section {
    width: 45%;
    /* padding: 2vh 0; */
}

.footer {
    width: 100%;
    /* color: aliceblue; */
    background-color: rgba(90, 90, 90, 0.2);
    border-radius: 5px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}